





































<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container flex">
        <div class="cards flex">
            <div class="card flex">
                <div class="top">
                    <p class="skill">Web Design</p>
                    
                        <fa-icon icon="ellipsis" ></fa-icon>
                   
                </div>
              
                <p class="skill-des">dfgjasgfdjhasgdajhs ashjdgajhsgdj</p>
                <p class="name">Omar Alshuaili</p>

            </div>
        </div>
    </div>    
</body>
</html>