@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Ysabeau+Office:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Ysabeau+Office:wght@500&display=swap');

body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

main {
    padding: 0.5rem;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}


.left img {
    width: 420px;
    background-size: cover;
}

.right {
    display: flex;
    height: 100%;
    padding-top: 10%;
    flex-direction: column;
    gap: 20px;
}

.main-heading {
    margin-bottom: 20px;
}

.signin {
    font-size: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.form-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    height: 200px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.date-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.date-inputs .form-group {
    width: 80px !important;
}

.separator {
    height: 0px;
    opacity: 0.3;
}

.progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progress div {
    width: 30%;
    height: 2px;
    border: none;
    background: rgb(201, 201, 201);
    opacity: 0.3;
    border-radius: 1px;
    background: linear-gradient(to left, rgb(201, 201, 201) 50%, rgb(109, 163, 136) 50%) right;
    background-size: 200%;
    transition: .7s ease-out;
}

.active {
    background-position: left !important;
    opacity: 1 !important;
}

label {
    font-size: 10px;
    font-weight: 600;
}

.form-group input {
    height: 40px;
    border: 1.5px solid rgb(75, 75, 75);
    border-radius: 2.5px;
    padding-left: 10px;
}

.form-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn {
    border: 1px solid rgb(201, 201, 201);
    height: 40px;
    border-radius: 2px;
    background-color: transparent;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    transition: all 0.3s;
}


.back {
    width: 15%;
    color: rgba(0, 0, 0, 0.6);
}

h1::after {
    content: attr(data-last-word);
    font-weight: bold;
    font-family: 'Ysabeau Office', sans-serif;
    color: rgb(133, 161, 197);
    font-weight: 700;

}

.invalidInput {
    border: 1.5px solid rgb(255, 164, 164);
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

small {
    color: rgb(230, 135, 135);
    font-weight: 300;
    font-size: 10px;
}

.icon-wrong {
    position: absolute;
    right: 5%;
    top: 50%;
    background:  rgb(243, 112, 112) center no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
}

.error-message{
    color:  rgb(255, 172, 172);
    background-color: white;
    position: absolute;
    width:120px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);

}
small{
    position: absolute;
    right: 0;
    bottom: -30%;
}

.invalid-inputs {
    border: 1.5px solid rgb(255, 172, 172) !important;
}